.card {
  box-sizing: border-box;
  padding: 5px;
  min-width: 200px;
  max-width: 350px;
  box-shadow: 0 0 3px 1px #dddddd;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.card-logo {
  padding: 1%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  transition: 2s ease all;
  min-width: 175px;
  max-width: 400px;
  min-height: 150px;
  max-height: 200px;
}

.card-logo:hover{
  transform: scale(1.10);
  transition: 2s ease all;
}

.card-header{
  text-align: center;
}
.card-time {
  color: grey;
  font-size: 0.75em;
}

.card-prev{
  font-size: .9em;
  padding: 3px;
  box-sizing: border-box;
}
.rate {
  display: inline-block;
  color: gray;
  padding-top: 10px;

  .logo {
    width: 1em;
    height: 1em;
  }
}
