.card {
  box-sizing: border-box;
  padding: 5px;
  width: 300px;
  box-shadow: 0 0 3px 1px #dddddd;
}

.card-logo {
  padding: 1%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

.card-header{
  text-align: center;
}
.card-time {
  color: grey;
  font-size: 0.75em;
}

.card-prev{
  font-size: .9em;
  padding: 3px;
  box-sizing: border-box;
}
.rate {
  display: inline-block;
  color: gray;
  padding-top: 10px;

  .logo {
    width: 1em;
    height: 1em;
  }
}
