@import "reset.css";

$max-width: 1200px;
$content: 80%;
$content-color: #7bbd77;
$small-width:500px;

@import 'header';

@import "content";

@import "footer";

body{
  font-family: Helvetica, serif;
  overflow-x: hidden;
}
.logo {
  display: inline-block;
  height: 25px;
  width: 25px;
}