@import "reset.css";

@import "variables";

@import 'header/header';

@import "main/content";

@import "footer/footer";

body{
  font-family: Helvetica, serif;
  overflow-x: hidden;
  background-color: #E1E2E1;
}
.logo {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin: 0 1px;
}
.logo:hover{
  background-color: blue;
  opacity: .5;
}
.shadow {
  padding: 5%;
  box-sizing: border-box;
  box-shadow: 0 0 3px 1px #dddddd;
}