footer {
  grid-area: footer;
  width: 100%;
  background-color: #4671fb;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #194be4), color-stop(50%, #6b8efb), color-stop(100%, #194be4));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  div {
    margin: 5px 0;
  }
}