@import "burger";
header {
  width: 100%;
  background-color: #4671fb;
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0%,#194be4),color-stop(50%,#6b8efb),color-stop(100%,#194be4));
}

.header-wrp {
  width: $content;
  margin: 0 auto;
  max-width: $max-width;
  display: flex;
  justify-content: space-between;
}

.main_logo {
  width: 125px;
}

.nav-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icons-wrp{
  .logo:first-child {
    margin-right: 20px;
  }
}

.menu-wrp {
  ul {
    display: flex;
    justify-content: space-between;
    color: white;
  }

  li {
    list-style-type: none;
  }
}


@media (max-width: $small-width) {
  .menuToggle{
    display: block;
  }
  .nav-wrp{
    display: none;
  }
  .logo-wrp{
    margin: 0 auto;
  }
  .searchBtn{
    display: block;
  }
}

