.aside1{
  grid-area:aside1;
  padding: 1%;
  box-shadow: 0 0 3px 1px #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aside2{
  grid-area:aside2;
  padding: 1%;
  font-size: 90%;
}

.profile-description{
  display: block;
}
.contacts-wrp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  img{
    margin: 0 5px;
  }
}
@import "form";
@import "tag";
@import "comment";