.aside1{
  grid-area:aside1;
}
.aside2{
  grid-area:aside2;
}
.profile-description{
  display: block;
}


.subscription{
  margin-top: 15px;
  display: grid;
  grid-template-areas: "label"
  "label-name"
  "input-name"
  "label-email"
  "input-email"
  "submit";
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.label{
  grid-area: label;
}
.label-name{
  grid-area: label-name;
}
.input-name{
  grid-area:input-name;
}
.label-email{
  grid-area:label-email;
}
.input-email{
  grid-area:input-email;
}
.submit{
  grid-area:submit;
}

@import "tag";
@import "comment";