.content-wrp {
  width: $content;
  margin: 2% auto;
  display: grid;
  grid-template-areas:
          "content aside1"
          "content aside2";
  grid-template-columns: 1fr 200px;
  grid-template-rows: 120px;
  grid-gap: 20px;
  background-color: white;
}

.main {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
  grid-gap: 10px;
  justify-content: center;
}

@import "card";
@import "../aside/aside";

@media (max-width: $small-width) {
  .content-wrp{
    width: 100%;
    grid-template-areas:
            "aside1"
            "content"
            "aside2";
    grid-template-columns: 1fr;
  }
  .aside1{
    margin: 0 auto;
  }
}